{{!-- views/partials/article/tag-article.hbs --}}
<div class="flex flex-col gap-4">
  <div class="relative group">
    <a href="/articles/{{ id }}" class="absolute inset-0"></a>

    <div class="grid grid-cols-[10%_45%_5%_40%]">
      {{!-- Published Date --}}
      <span>{{ formatDate published_at}}</span>

      <div class="flex flex-col h-full">
        {{!-- Title --}}
        <h2 class="text-3xl font-bold mb-4 group-hover:underline">
          {{ default title "Untitled Article" }}
        </h2>

        {{!-- Abstract --}}
        <p class="text-gray-700 mb-6 text-xl">
          {{ default abstract "No summary available for this article." }}
        </p>

        {{!-- Tags --}}
        <div class="flex flex-wrap gap-2 mb-4 z-20">
          {{#if article.tags}} {{#each article.tags}}
          <a href="/tags/{{ this.id }}" class="btn-sm btn btn-outline text-xl"
            >#{{ this.name }}</a
          >
          {{/each}} {{else}}
          <span class="text-gray-500 text-sm">No tags available.</span>
          {{/if}}
        </div>

        {{!-- Category --}} {{#if category}}
        <a
          href="categories/{{ default article.category_id '#' }}"
          class="text-blue-500 hover:underline text-xl z-20 mt-auto"
        >
          {{category.name}}
        </a>
        {{/if}}
      </div>

      <div></div>

      {{!-- Thumbnail --}} {{#if thumbnail}}
      <div>
        <img
          src="{{thumbnail}}"
          alt="{{title}}"
          class="w-full h-64 aspect-[16/9] object-cover rounded-lg border-2"
        />
      </div>
      {{/if}}
    </div>
  </div>
  <div class="border"></div>
</div>
